/Framework/Platforms/Windows/Framework.vcxproj.user
/CodeTool/.vs
/Editor/Platforms/Windows/Editor.vcxproj.user
/Framework/Platforms/Windows/3rdPartyLibs.vcxproj.user
/CodeTool/x64
/CodeTool/Bin/*.pdb
/CodeTool/Bin/*.iobj
/CodeTool/Bin/*.ipdb
/CodeTool/CodeTool.vcxproj.user
